.header{
    grid-area: h;
    background-color: #73cbb0;
}
.header img {
    width: 60px;
    margin-left: 10px;
}

.loginBlock {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.loginBlock {
    color: #6d517b;
}