.descriptionBlock {
    padding: 10px;
}
.descriptionBlock img {
    width: 150px;
    border-radius: 50%;
}

.socialNetworkIconsBlock img{
    width: 30px;
    height: 30px;
}

.contact {
    padding-left: 10px;
}